<div class="user-form">
  Welcome New User 
  <form #loginform="ngForm" (ngSubmit)="login(loginform)">
    <p>
      <input type="text" ngModel #username="ngModel" name="username" placeholder="Username" required/>
      <span *ngIf="username.invalid">Username Invalid</span>
    </p>
    <p>
      <input type="password" ngModel #password="ngModel" name="password"  placeholder="Password" required />
      <span *ngIf="password.invalid">Password Invalid</span>
    </p>
    <button [disabled]="loginform.invalid" type="submit">Save Account</button>
  </form>
</div>
